<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
  <connectionStrings>
    <add name="TwinkleStoreEntities" connectionString="metadata=res://*/BookStoreEntityModel.csdl|res://*/BookStoreEntityModel.ssdl|res://*/BookStoreEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GHVLUQL;initial catalog=TwinkleStore;persist security info=True;user id=sa;password=reddy;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TwinkleStoreEntitiesAdo" connectionString="data source=DESKTOP-GHVLUQL;initial catalog=TwinkleStore;user id=sa;password=reddy;"
      providerName="System.Data.EntityClient" />
    <add name="TwinkleBookStore.Properties.Settings.TwinkleStoreConnectionString"
      connectionString="Data Source=DESKTOP-GHVLUQL;Initial Catalog=TwinkleStore;Persist Security Info=True;User ID=sa;Password=reddy"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<appSettings>
  <add key="MatchEmailPattern" value="^(([\w-]+\.)+[\w-]+|([a-zA-Z]{1}|[\w-]{2,}))@((([0-1]?[0-9]{1,2}|25[0-5]|2[0-4][0-9])\.([0-1]?&#xD;&#xA;				[0-9]{1,2}|25[0-5]|2[0-4][0-9])\.([0-1]?[0-9]{1,2}|25[0-5]|2[0-4][0-9])\.([0-1]?&#xD;&#xA;				[0-9]{1,2}|25[0-5]|2[0-4][0-9])){1}|([a-zA-Z0-9]+[\w-]+\.)+[a-zA-Z]{1}[a-zA-Z0-9-]{1,23})$"

                                                                                               />
<add key="PhoneNoPattern" value="\+?\d[\d -]{8,12}\d"/>
<add key="UserIdPattern" value="(?i)^(?=.*[a-z])[a-z0-9]{5,20}$"/>
<add key="PDF" value="D:\\Output.pdf"></add>
</appSettings>
</configuration>